html {
    background-color: #DEC0F9;
}

header {
    background-color: #645CF1;
}

main {
    background-color:#8ED3FC ;
}

footer {
    background-color: #8FF9F6;
}

nav {
    background-color: #BB99F8;
}